<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>

    <h4>An API which provides users details regarding Cafés in London and allows users to
        <br>GET cafes data,
        <br>POST a new café entry,
        <br>PATCH update the coffee price of certain cafe
        <br>DELETE a café from the database.</h4>

    <a href="https://documenter.getpostman.com/view/17703132/2s7Z7ZoZMz">Read the Documentation</a>
</body>
</html>